/*
* @Author: Administrator
* @Date:   2017-04-10 21:03:27
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-10 23:27:26
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #494747;
}
.banner{
	width: 100%;
	height: 7.2rem;
	background-image: url('../img/gxxy/9k=.jpg');
	background-size: cover;
	background-position: center;
}
.banner .top{
	width: 100%;
	height: 1.3rem;
	background: #007BE3;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top:0;
	z-index: 99;
}

.banner .top li{
	width: 20%;
	height: 100%;
	line-height: 1.3rem;
	display: flex;
	align-items: center;
	position: relative;
}
.banner .top a{
	width: 100%;
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
}
.banner .top li div{
	width: 100%;
	height: 0.06rem;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}





.box{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F5F6FA;
	padding-top: 0.5rem;
	font-size: 0.32rem;
	color: #494747;
	font-weight: 600;
	padding-bottom: 1.7rem;
	font-weight: 400;
}

.box .title{
	height: .6rem;
}

.box .title a{
	font-size: .32rem;
	color: #494747;
	font-weight: 600;
	margin-left: .35rem;
	padding-bottom: .22rem;
}





.box .boxtj{
	width: 10.1rem;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin: 0 auto;
	padding-bottom: 0.2rem;
	text-align: center;
	padding-top: 0.4rem;
	/* display: flex;
	flex-wrap: wrap; */
} 

.box .boxtj .dy{
	width: 100%;
	height: auto;

}
.box .boxtj .hg{
	width: 1.17rem;
	height: 2px;
	background: #666666;
	margin: 0 auto;
	margin-top: .4rem;
}


.box .boxtj p{
	width: 100%;
	font-size: .35rem;
	padding: 1rem .35rem 0;
	text-align: justify;
	line-height: 0.6rem;
	color: #7B7B7B;
	padding-top: 0.4rem;
	box-sizing: border-box;
	font-weight: 200;
	
	/* padding-right: 0.2rem; */
}
.box .boxtj .jz{
	width: 100%;
	text-align: center;
}
.box .boxtj .bottom{
	width: 94%;
	height: 2.48rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
.box .boxtj .bottom ul:nth-child(1){
	width: 1.85rem;
}
.box .boxtj .bottom ul:nth-child(2){
	width: 3.75rem;
}
.box .boxtj .bottom ul:nth-child(3){
	width: 3rem;
}
.box .boxtj .bottom li{
	height: .85rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: .6rem;
	color: #696969;
}

.box .boxtj .bottom ul li:first-child{
	color: #333333;
}


.box .boxtj .bottom1 img{
	width: 3.2rem;
	margin-left: 0.2rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;

}
.box .boxtj .bottom2{
	width: 100%;
	height: 1.9rem;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.box .boxtj .bottom2 ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 
.box .boxtj .bottom2 ul li{
	color: #7E7E7E;
	line-height: 0.6rem;
}
.box .boxtj .bottom2 ul li:nth-child(1){
	font-size: 0.8rem;
	font-weight: 200;
	padding: 0 .3rem;
	box-sizing: border-box;
	width: 1.5rem;
}
.box .boxtj .bottom2 ul li:nth-child(2){
	width: 3.5rem;
	text-align: left;
}

.box .boxtj .bottom2 ul li:nth-child(4){
	width: 3.2rem;
	text-align: left;
	padding-right: 0.3rem;
	box-sizing: border-box;
}
.box .boxtj .bottom3{
	width: 100%;
	height: 1rem;
	border-bottom: 1px solid #666666;
}
.box .boxtj .bottom3 ul{
	width: 100%;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
} 
.box .boxtj .bottom3 ul li{
	color: #7E7E7E;
	line-height: 0.6rem;
	font-size: 0.8rem;
	font-weight: 200;
	padding: 0 .3rem;
}

.box .boxtj .bottom3 ul li:nth-child(2){
	width: 4.5rem;
	text-align: left;
	font-size: .35rem;
}
















.coy p{
	width: 100%;
	float: left;
	text-align: center;
	line-height: 0.5rem;
	color: #7F7F80;	
	font-weight: 400;
	font-size: 0.26rem;
}
.coy .yy{
	margin-top: 0.47rem;
}


.xx{
	width: 100%;
	height: 1.3rem;
	background: #E7E7E7;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.xx>div{
	width: 2.3rem;
	height: 0.5rem;
	margin-left: 0.4rem;
	font-size: 0.3rem;
}
.xx>div p{
	/* width: 1.4rem; */
	float: right;
	line-height: 0.55rem;
	margin-right: 0.2rem;
}
.xx div img{
	height: 0.5rem;
}
.xx>div:last-child{
	margin-left: 5.5rem
}
.xx .dd{
	width: 0.42rem;
	height: 0.42rem;
	border-radius: 50%;
	background: #FF2A0E;
	position: absolute;
	top: 0.1rem;
	right: 2.4rem;
	line-height: 0.48rem;
	text-align: center;
	color: #fff;
	font-size: 0.2rem;
}
.hs{
	width: 4.3rem;
	height: 1.35rem;
	border-radius: 0.08rem;
	background: #FF8D12;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0.15rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 0.4rem;
	z-index: 99;
}
.hs img{
	width: 1.1rem;
}
.hs span{
	color: #fff;
	font-size: 0.5rem;
}