/*
* @Author: Administrator
* @Date:   2017-04-06 14:53:54
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-09 01:03:56
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #494747;
}
.banner{
	width: 100%;
	height: 7.2rem;
	background-image: url('../img/mtbd/banner4.jpg');
	background-size: cover;
	background-position: center;
}
.banner .top{
	width: 100%;
	height: 1.3rem;
	background: #007BE3;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top:0;
	z-index: 99;
}
/* .banner .top ul{

} */
.banner .top li{
	width: 20%;
	height: 100%;
	line-height: 1.3rem;
	display: flex;
	align-items: center;
	position: relative;
}
.banner .top a{
	width: 100%;
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
}
.banner .top li div{
	width: 100%;
	height: 0.06rem;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}



.box{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F5F6FA;
	padding-top: 0.5rem;
	font-size: 0.32rem;
	color: #494747;
	font-weight: 600;
	padding-bottom: 1.7rem;
}

.box .title{
	height: 0.6rem;
}

.box .title a{
	font-size: 0.32rem;
	color: #494747;
	font-weight: 600;
	margin-left: 0.35rem;
	padding-bottom: 0.22rem;
}
.box .bj{
	width: 10.08rem;
	height: auto;
	background: #fff;
	margin: 0 auto; 
	padding-bottom: 0.43rem;
}



.box .k1{
	width: 10.08rem;
	height: 4.99rem;
	background: #fff;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0.55rem 0.34rem 0 0.34rem;
	position: relative;
	z-index: 10;
}
.box .k1 h2{
	font-size: 0.36rem;
	color: #464646;
	font-weight: 400;
	margin-bottom: 0.4rem;

}
.box .k1 img{
	width: 2.75rem;
	height: 2.05rem;
	margin-left: 0.18rem;
	float: left;
}
.box .k1 .fd{
	position: absolute;
	left: 0.18rem;
	top: 1.6rem;
}
.box .k1 p{
	width: 5.9rem;
	float: left;
	margin-left: 0.45rem;
	font-size: 0.3rem;
	font-weight: 400;
	line-height: 0.54rem;
}

.box .k1 ul{
	width: 9.43rem;
	height: 0.9rem;
	margin: 0 auto;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	float: left;
	margin-top: 0.46rem;
}	
.box .k1 ul li{
	width: 33.333%;
	height: 100%;
/* 	background: red; */
	float: left;
	display: flex;
	align-items: center;
	font-size: 0.26rem;
	font-weight: 200;
}
.box .k1 ul li div{
	width: 0.4rem;
	height: 0.4rem;
	background-image: url('../img/mtbd/media_icon.png');
	background-size: auto 0.4rem;
}

.box .k1 ul li:nth-child(2) div{
	background-image: url('../img/mtbd/media_icon.png');
	background-size: auto 0.4rem;
	background-position: -0.45rem 0;
}
.box .k1 ul li:nth-child(3) div{
	background-image: url('../img/mtbd/media_icon.png');
	background-size: auto 0.4rem;
	background-position: -0.92rem 0;
}



.box .fydh{
	width: 10.08rem;
	height: 1.2rem;
	background: #fff;
	margin: 0 auto;
	margin-top: 0.36rem;
	display: flex;
	align-items: center;
}

.box .fydh div{
	width: 8.6rem;
	height: 0.8rem;
	/* background: red; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.box .fydh div img{
	height: 0.68rem;
}

.box .fydh div a:nth-child(3){
	width: 2.03rem;
	height: 0.7rem;
	border: 1px solid #666666;
	border-radius: 0.4rem;
	text-align: center;
	line-height: 0.7rem;
	box-sizing: border-box;
	font-weight: 400;

}
.coy p{
	width: 100%;
	float: left;
	text-align: center;
	line-height: 0.5rem;
	color: #7F7F80;	
	font-weight: 400;
	font-size: 0.26rem;
}
.coy .yy{
	margin-top: 0.47rem;
}


.xx{
	width: 100%;
	height: 1.3rem;
	background: #E7E7E7;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.xx>div{
	width: 2.3rem;
	height: 0.5rem;
	margin-left: 0.4rem;
	font-size: 0.3rem;
}
.xx>div p{
	/* width: 1.4rem; */
	float: right;
	line-height: 0.55rem;
	margin-right: 0.2rem;
}
.xx div img{
	height: 0.5rem;
}
.xx>div:last-child{
	margin-left: 5.5rem
}
.xx .dd{
	width: 0.42rem;
	height: 0.42rem;
	border-radius: 50%;
	background: #FF2A0E;
	position: absolute;
	top: 0.1rem;
	right: 2.4rem;
	line-height: 0.48rem;
	text-align: center;
	color: #fff;
	font-size: 0.2rem;
}
.hs{
	width: 4.3rem;
	height: 1.35rem;
	border-radius: 0.08rem;
	background: #FF8D12;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0.15rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 0.4rem;
	z-index: 99;
}
.hs img{
	width: 1.1rem;
}
.hs span{
	color: #fff;
	font-size: 0.5rem;
}