/*
* @Author: Administrator
* @Date:   2017-04-07 17:53:21
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-08 15:55:47
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.banner{
	width: 100%;
	height: 7.2rem;
	background-image: url('../img/UI/banner.png');
	background-size: cover;
	background-position: center;
	position: relative;
}
.banner img{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.banner .top{
	width: 100%;
	height: 1.3rem;
	/* background: #073C6D; */
	background: rgba(0, 123, 227, 0.4);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 99;
}
.banner .top li{
	height: 100%;
	line-height: 1.3rem;
	display: flex;
	align-items: center;
}
.banner .top a{
	font-size: 0.4rem;
	color: #fff;
}






.ldfw{
	width: 100%;
	height: 10.80rem;
	position: relative;
	background: #F5F5F5;
	/* background: red; */
}
.ldfw .title{
	width: 100%;
    height: 2rem;
	font-size: 0.43rem;
	color: #333333;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	margin-bottom: 0.3rem;
}
.ldfw .title h3{
	margin-top: 0.3rem;
}
.ldfw .title h3 span{
	font-weight: 400;
}
.ldfw .title img{
	width: 8rem;
	position: absolute;
	top: 1rem;
	left: 1.4rem;
}
.ldfw .title h4{
	font-size: 0.38rem;
	margin-top: 0.2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.ldfw ul{
	width: 9.64rem;
	height: 7.7rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

}

.ldfw ul li{
	width: 3.03rem;
	height: 3.53rem;
	/* background: red; */
	display: flex;
	/* align-items: center; */
	flex-wrap: wrap;
}
.ldfw ul li div{
	width: 3.03rem;
	height: 1.43rem; 
	background-image: url('../img/UI/fwtx1.png');
	background-size: cover;
}
.ldfw ul li div h3{
	color: #fff;
	font-size: 0.38rem;
	line-height: 1.43rem;
	margin-left: 1.15rem;
}
.ldfw ul li p{
	width: 3.03rem;
	height: 2.04rem;
	font-size: 0.36rem;
	color: #6C6C6E;
	text-align: center;
	box-sizing: border-box;
	border: 1px dashed #f2a111;
	align-self: flex-end;
	padding-top: 0.33rem;
}

.ldfw ul li:nth-child(2) div{
	background-image: url('../img/UI/fwtx2.png');
}
.ldfw ul li:nth-child(2) p{
	border: 1px dashed #2F90DA;
}

.ldfw ul li:nth-child(3) div{
	background-image: url('../img/UI/fwtx3.png');
}
.ldfw ul li:nth-child(3) p{
	border: 1px dashed #F87844;
}

.ldfw ul li:nth-child(4) div{
	background-image: url('../img/UI/fwtx4.png');
}
.ldfw ul li:nth-child(4) p{
	border: 1px dashed #1BBF99;
}

.ldfw ul li:nth-child(5) div{
	background-image: url('../img/UI/fwtx5.png');
}
.ldfw ul li:nth-child(5) p{
	border: 1px dashed #F8CE68;
}

.ldfw ul li:nth-child(6) div{
	background-image: url('../img/UI/fwtx6.png');
}
.ldfw ul li:nth-child(6) p{
	border: 1px dashed #C16BBB;
}









.sms{
	width: 100%;
	height: 12.6rem;
	background: #F5F5F5;
	position: relative;
}
.sms .tb{
	width: 100%;
	height: 1.86rem;
	background-image: url('../img/UI/uititle1.png');
	background-size: 100%;
	font-size: 0.44rem;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding-top: 0.45rem;
	position: relative;
	z-index: 5;
}
.sms .tb h3 span{
	font-weight: 400;
}
.sms .tb img{
	width: 3.9rem;
	margin: 0 auto;
	position: absolute;
	top: 1.05rem;
	left: 3.45rem;
}
.sms .tb h4{
	font-size: 0.42rem;
	margin-top: 0.1rem;
	font-weight: 200;
	text-transform: uppercase;
	color: #fff;
}



.sms .box{
	width: 10.07rem;
	height: 4.52rem;
	border: 1px dashed #040101;
	margin: 0 auto;
	margin-top: 0.7rem;
}
.sms .box h3{
	font-size: 0.36rem;
	margin: 0 auto;
	color: #00A8FF;
	text-align: center;
	font-weight: 400;
	margin-top: 0.1rem;
}

.sms .box p{
	font-size: 0.34rem;
	text-align: center;
	color: #575757;
	line-height: 0.54rem;
}
.sms .box .yk{
	margin-top: 0.1rem;
}

.sms .bo{
	width: 100%;
	height: 5rem;
	background-image: url('../img/UI/ui11s.png');
	background-size: 100%;
	z-index: -1;
}




.jyqj{
	width: 100%;
	height: auto;
	height: 21rem;
	background: #1B1D32;
}


.jyqj .tb{

	background-image: url('../img/UI/uititle2.png');
	top: -0.9rem;
	left: 0;
}
.jyqj .tb h3 span{
	font-weight: 400;
}

.jyqj .tb h4{
	font-size: 0.42rem;
	margin-top: 0.1rem;
	font-weight: 200;
	text-transform: uppercase;
	color: #fff;
}




.jyqj .xbt{
	width: 3.6rem;
	height: 0.9rem;
	margin-left: 3.63rem;
	/* margin: 0 auto; */
}

.jyqj .xbt h4{
	color: #F5F5F5;
	font-size: 0.5rem;
	text-align: center;
	font-weight: 200;
}
.jyqj .xbt div{
	width: 100%;
	border-top: 1px solid #FFFFFF;
	margin-top: 0.16rem;
}

.jyqj .xbt div:nth-of-type(2){
	border-top: 1px dashed #FFFFFF;
}

.jyqj .center{
	width: 100%;
	height: 5.8rem;
	background-image: url('../img/UI/bfb.png');
	background-size: 96%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.0)
}

.jyqj .center div{
	width: 1.17rem;
	height: .47rem;
	background: #FFF100;
	margin-left: 1.84rem;
	margin-top: 0.48rem;
}

.jyqj .center div:nth-child(2){
	width: 1.87rem;
	background: #1DFFBD;
}

.jyqj .center div:nth-child(3){
	width: 7rem;
	background: #0C51FF;
}
.jyqj .center div:nth-child(4){
	width: 4rem;
	background: #00A8FF
}
.jyqj .center div:nth-child(5){
	width: 1.34rem;
	background: #1BEFE8;
}

.jyqj ul{
	width: 10.1rem;
	height: 6.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 1rem;
}

.jyqj ul li{
	width: 4.91rem;
	height: 3.15rem;
	/* background: red; */
	background-image: url('../img/UI/ui2back.png');
	background-size: 100%;
}
.jyqj ul li:nth-child(2)~li{
	align-self: flex-end;
}

.jyqj ul li p{
	font-size: 0.3rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 0.6rem;
	margin-top: 0.1rem;
}
.jyqj ul li span{
	font-size: 0.5rem;
	line-height: 0.8rem;
}

.jyqj .gd{
	margin:  0 auto;
	width: 3.63rem;
	height: 0.96rem;
	background-image: url('../img/UI/btn.png');
	background-size: 100%;
	color: #fff;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.96rem;
	margin-top: 1.3rem;
}


.yxxy{
	width: 100%;
	height: 11rem;
	background: #F5F6FA;
}

.yxxy .tb{
	top: -0.9rem;
	left: 0;
}



.yxxy .box5{
	padding-top: 0.4rem;
	width: 10rem;
	height: 5.9rem;
	margin: 0 auto;
/* 	background: red; */
}

.yxxy .box5 p{
	width: 2.6rem;
	height: 0.9rem;
	background: #219EFF;
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-radius: 0.1rem 0.1rem 0 0;
	float: left;
	color: #fff;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.9rem;
	font-weight: 200;
}
.yxxy .box5 p:first-child{
	width: 1.8rem;
	background: #40ABFD;
}
.yxxy .box5 p:nth-child(3){
	width: 5.6rem;
	background: #118DED;
}
.yxxy .box5 .md{
	width: 10rem;
	height: 5rem;
	box-sizing: border-box;
	border: 2px solid #4F95FE;
	float: left;
	overflow: hidden;
}

.yxxy .box5 .md P{
	width: 100%;
	height: 1rem;
	background: #EEEEEE;
	border-radius: 0 0 0 0;
}
.yxxy .box5 .md P span{
	font-size: 0.36rem;
	color: #666666;
	line-height: 1rem;
	float: left;
}
.yxxy .box5 .md P span:nth-child(1){
	margin-left: 0.38rem;
}
.yxxy .box5 .md P span:nth-child(2){
	margin-left: 0.62rem;
	color: #FCBB56;
}
.yxxy .box5 .md P span:nth-child(3){
	width: 5rem;
	margin-left: 0.27rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.yxxy .box5 .gd{
	margin:  0 auto;
	width: 3.63rem;
	height: 0.96rem;
	background-image: url('../img/UI/btn.png');
	background-size: 100%;
	color: #fff;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.96rem;
	margin-top: 0.8rem;
	float: left;
	margin-left: 2.87rem;
}













.kcgh{
	width: 100%;
	height: 25rem;
	background-image: url('../img/UI/ui4back.png');
}

.kcgh .tb{
	background-image: url('../img/UI/uititle3.png');
	top: -0.9rem;
	left: 0;
}

.kcgh .boxkc{
	width: 10.08rem;
	height: auto;
 	margin: 0 auto;
 	/* background: red; */
}
.kcgh .boxkc>div{
	width: 100%;
	/* height: 3.35rem; */
	height: auto;
	background: #fff;
	margin-bottom: 0.57rem;
	padding-bottom: 0.3rem;
}
.kcgh .boxkc div h3{
	width: 100%;
	height: 1.16rem;
	border-top: 0.06rem solid #F88C00;
	border-bottom: 1px dashed #A0A0A0;
	font-size: 0.43rem;
	color: #333333;
	line-height: 1.3rem;
	font-weight: 400;
	box-sizing: border-box;
	padding-left: 0.32rem;
}
.kcgh .boxkc div p{
	font-size: 0.4rem;
	color: #666666;
	margin-left: 0.32rem;
	line-height: 0.6rem;
	margin-top: 0.2rem;
}

.kcgh .boxkc div:nth-child(2) h3{
	border-top: 0.06rem solid #32AFFF;
}

.kcgh .boxkc div:nth-child(3) h3{
	border-top: 0.06rem solid #EB6877;
}

.kcgh .boxkc div:nth-child(4) h3{
	border-top: 0.06rem solid #22AC38;
}

.kcgh .boxkc div:nth-child(5) h3{
	border-top: 0.06rem solid #EA61D5;
}

.kcgh .boxkc div:nth-child(6) h3{
	border-top: 0.06rem solid #13E5E3;
}







.cyln{
	width: 100%;
	height: 15rem;
	background: #F5F6FA;
}
.cyln .tb{
	background-image: url('../img/UI/uititle2.png');
}

.cyln .boxln{
	width: 10.1rem;
	height: 11.8rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.6rem;
}
.cyln .boxln img{
	width: 4.97rem;
}

.cyln .boxln img:nth-child(3){
	width: 10.1rem;
}









.sjzx{
	height: auto;
	padding-bottom: 3rem;
}

.sjzx>p{
	font-size: 0.36rem;
	color: #333333;
	text-align: center;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}



.sjzx div{
	margin-top: 0.4rem;
	width: 7.2rem;
	/* height: ; */
	margin: 0 auto;
	font-size: 0.36rem;
}

.sjzx .bd span{
	display: block;
	width: 0.4rem;
	color: red;
	float: left;
	line-height: 0.8rem;
}
.sjzx div input{
	width: 5.75rem;
	height: 0.75rem;
	background-image: url('../img/qzkc/input.png');
	background-size: 5.75rem 0.75rem;
	border: 0;
	background-color: #F5F5F5;
	outline: none;
	font-size: 0.35rem;
	box-sizing: border-box;
	padding-left: 0.3rem;
	margin-left: 0.3rem;
	margin-bottom: 0.65rem;
}
.sjzx div select{
	width: 5.75rem;
	height: 0.75rem;
	background-image: url('../img/qzkc/input.png');
	background-size: 5.75rem 0.75rem;
	border: 0;
	background-color: #F5F5F5;
	outline: none;
	font-size: 0.35rem;
	box-sizing: border-box;
	padding-left: 0.3rem;
	margin-left: 0.3rem;
	margin-bottom: 0.65rem;
	color: 
}
.sjzx .gd{
	margin:  0 auto;
	width: 3.63rem;
	height: 0.96rem;
	background-image: url('../img/qzkc/qzanniu.png');
	background-size: 100%;
	color: #fff;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.96rem;
	padding: 0;
}
.sjzx form{
	text-align: center;
}


.sjzx p{
	width: 100%;
	float: left;
	text-align: center;
	line-height: 0.5rem;
	color: #7F7F80;	
}
.sjzx .yy{
	margin-bottom: 0;
	margin-top: 0;
}

.sjzx .yy1{
	margin-top: 0.4rem;
}







.xx{
	width: 100%;
	height: 1.3rem;
	background: #E7E7E7;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.xx>div{
	width: 2.3rem;
	height: 0.5rem;
	margin-left: 0.4rem;
	font-size: 0.3rem;
}
.xx>div p{
	/* width: 1.4rem; */
	float: right;
	line-height: 0.55rem;
	margin-right: 0.2rem;
}
.xx div img{
	height: 0.5rem;
}
.xx>div:last-child{
	margin-left: 5.5rem
}
.xx .dd{
	width: 0.42rem;
	height: 0.42rem;
	border-radius: 50%;
	background: #FF2A0E;
	position: absolute;
	top: 0.1rem;
	right: 2.4rem;
	line-height: 0.48rem;
	text-align: center;
	color: #fff;
	font-size: 0.2rem;
}
.hs{
	width: 4.3rem;
	height: 1.35rem;
	border-radius: 0.08rem;
	background: #FF8D12;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0.15rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 0.4rem;
	z-index: 99;
}
.hs img{
	width: 1.1rem;
}
.hs span{
	color: #fff;
	font-size: 0.5rem;
}
